<div class="d-flex justify-content-between mb-3">
    <div>
        <input type="search" id="txtSearch" class="form-control form-control-lg pt-2 pb-2" maxlength="30" placeholder="Search product"
            aria-label="Search product" aria-describedby="btn-search" [(ngModel)]="searchString" (ngModelChange)="searchStringChanged()" (search)="searchProduct()">
    </div>
    <div class="d-flex align-items-center">
        @if(this.hasSearch()){
            <span id="searchResultPlaceholder" class="text-primary fw-bold">Displaying search result for "{{this.searchString()}}"</span>
        }
    </div>

</div>