@if(this.isLoading()){
    <div class="d-flex justify-content-center flex-row" style="width: 100%;">
        <div class="mt-5" style="width:100px;">
<svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
            <circle class="spin" cx="200" cy="200" fill="none" r="100" stroke-width="40" stroke="#2f3030"
                stroke-dasharray="386 1400" stroke-linecap="round" />
        </svg>
        </div>
        
    </div>

}
@else if (products().length == 0) {

    <div class="text-danger fw-bold">
        No products found
    </div>
}
@else {
<div class="d-flex justify-content-start flex-wrap gap-3">
    @for(product of products(); track product.id){
    <div class="card bg-transparent flex-item">
        <div class="card-body">
            <div class="div-image">
                <img src="{{product.images[0]}}" class="product-image">
            </div>
            <div class="mt-3">
                <label class="fw-bold h5 text-wrap text-dark">{{product.title}}</label>
            </div>
            <div class="mt-3">
                <label class="text-secondary">
                    @if(product.description.length > 50){
                    {{product.description.substring(0,50)}}... <a class="link-dark">Read more</a>
                    }
                    @else{
                    {{product.description}}
                    }
                </label>
            </div>

            <div class="mt-4">
                <div class="row">
                    <div class="col-6">
                        <p class="h3 fw-bold">{{product.price | currency}}</p>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <button class="btn btn-dark" style="height: 45px;" (click)="addToCartClicked(product)">Add to
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

</div>
}