<div>
    <div class="d-flex justify-content-center align-items-center flex-column mt-5 text-center">
        <div class="message">
            <div class="message-body">
                <div class="divTextMessage">
                    <label>Thank you!</label>
                    <div>
                        <p>Please expect your items to be shipped on <b>{{getDate()}}</b></p>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <a [routerLink]="['']" class="btn btn-dark btn-lg">Back to home</a>
            </div>
        </div>
    </div>
</div>