header{
    background-color: transparent;
    border-bottom: 2px solid #e1e1e1;
    background-image: url('/Angular-ECommerce/ffflurry.svg');
    background-size: contain;
}

#divRouterOutlet {
    width: 100%;
    margin: 0 auto;
}

.container{
    max-width: 1900px !important;
    font-family: urbanist,sans-serif;
}

#navbar-logo {
    border-radius: 8px;
}
