
<app-page-alert></app-page-alert>

<header>
  <div class="container-md">
    <nav class="navbar navbar-dark navbar-custom bg-transparent">
      <a class="navbar-brand" href="#">
        <img src="/Angular-ECommerce/jc-logo.jpg" id="navbar-logo" width="70" height="70" class="d-inline-block align-middle"
          alt="">
        <span class="ps-3 text-dark"><b>Sample Shop</b></span>
      </a>
       <div>
         <app-cart-button></app-cart-button>
      </div>
    </nav>
  </div>
</header>

<main>
  <div id="divRouterOutlet" class="container-md">
    <router-outlet></router-outlet>
  </div>
</main>