footer {
  background-color: transparent;
  border-top: 2px solid #e1e1e1;
  padding: 20px 0;
  margin-top: 40px;
}

.footer-content {
  text-align: center;
  color: #212529;
  font-family: urbanist, sans-serif;
}